@page "/Emps/Edit/{id:int}"
<PageTitle>Edit Emp</PageTitle>
<h3>EmpEditComponent</h3>
@if (EmpObj != null)
{
    <EditForm Model="EmpObj" OnSubmit="Save">
        <div>
            <label>Name</label>
            <InputText class="form form-control" @bind-Value="EmpObj.Name"></InputText>
        </div>
        <div>
            <label>Salary</label>
            <InputNumber class="form form-control" @bind-Value="EmpObj.Salary"></InputNumber>
        </div>
        <div>
            <label>ImageURL</label>
            <InputText class="form form-control" @bind-Value="EmpObj.ImageURL"></InputText>
        </div>
        <div>
            <label>Address</label>
            <InputText class="form form-control" @bind-Value="EmpObj.Address"></InputText>
        </div>
        <div>
            <label>Department</label>
            @* <InputNumber class="form form-control" @bind-Value="EmpObj.DepartmentID"></InputNumber> *@
            <InputSelect class="form form-control" @bind-Value="EmpObj.DepartmentID">
                @foreach (var deptItem in DeptList)
                {
                    <option value="@deptItem.Id">@deptItem.Name</option>
                }

            </InputSelect>
        </div>
        <input type="submit" value="Save" class="btn btn-success" />
    </EditForm>

    <h3>@EmpObj</h3>
}
else
{
    <h3>Invalid Id OR Waiting </h3>
}


@code {
    [Parameter]
    public int id { get; set; }

    public Employee EmpObj { get; set; }

    public List<Department> DeptList { get; set; }

    [Inject]
    public IServices<Employee> EmpService { get; set; }

    [Inject]
    public IServices<Department> DeptService { get; set; }
    [Inject]
    public NavigationManager NavManager { get; set; }//setParemetre

    protected override void OnInitialized()
    {
        EmpObj= EmpService.GetByID(id);
        DeptList= DeptService.GetAll();
        base.OnInitialized();
    }
    public void Save()
    {
        //call api provider
        Console.WriteLine("Save Success");
        NavManager.NavigateTo("/Emps");
    }

}
